body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.btn-panel {
    margin-top: 8px;
}

.form-signin {
    padding: 0px;
    margin: 0px ;
    display: none;
}
.form-signin h3 {
    margin-top: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.board {
    border : 4px solid black;
    color : white;
    display : none;
    width: 370px;
    margin-top: 8px;
}
.board .cell {
    padding : 8px;
    margin : 4px;
    display: inline-block;
}
.board .odd {
    background : gray;
}
.board .even {
    background : #222222;
}
