html {
    overflow-y: scroll;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.btn-panel {
    margin-top: 8px;
}

.form-signin {
    padding: 0px;
    margin: 0px auto;
    display: none;
    width: 370px;
}
.form-signin h3 {
    margin-top: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.nine-square-panel {
    display : none;
    width: 440px;
    margin: 0 auto;
}

.game-board {
    border : 4px solid black;
    color : white;
    margin-top: 8px;
    display: inline-block;
}
.game-board .cell {
    padding : 8px;
    margin : 4px;
    display: inline-block;
    width: 40px;
    height: 40px;
}
.game-board .cell:hover {
    background: white;
}
.game-board .cell.seed{
    font-weight: bold;
    color: yellow;
}
.game-board .cell.seed:hover{
    font-weight: bold;
    color: black;
    background: yellow;
}
.game-board .odd {
    background : gray;
}
.game-board .even {
    background : #222222;
}
.game-board .odd:hover {
    color: gray;
}
.game-board .even:hover {
    color: #222222;
}

.control-board {
    margin: 4px auto;
    padding: 4px;
}

.set-level-dialog .ui-dialog-titlebar-close {
    visibility: hidden;
}
