@(userForm: Form[org.teckhooi.ninesquare.persistent.User])(implicit flash: Flash, lang: Lang)

@import helper.twitterBootstrap._

@main("9 Square") {
    <script src="@routes.Assets.at("javascripts/nine-square.register-new.js")" ></script>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="edit-user">
            @helper.form(action = routes.Users.saveUser) {
                <fieldset>
                    @helper.inputText(userForm("name"))
                    @helper.inputText(userForm("email"))
                    @helper.inputPassword(userForm("password"))
                    @helper.inputPassword(userForm("verifyPassword"))
                </fieldset>
                <button class="register-me-btn btn btn-primary btn-primary btn-block" type="submit">Register me</button>
            }
            </div>
        </div>
    </div>
    @*
    class="emailText form-control" placeholder="Email address" />
    <input type="password" class="passwordText form-control" placeholder="Password" />
    <input type="password" class="reenter-passwordText form-control" placeholder="Re-enter Password" />
    <input type="text" class="nameText form-control" placeholder="Name" />
    <button class="register-me-btn btn btn-primary btn-primary btn-block" type="submit">Register me</button>
    </form>
    *@
}
