@(userForm: Form[org.teckhooi.ninesquare.persistent.User])(implicit flash: Flash, lang: Lang)

@import helper.twitterBootstrap._

@main(Messages("application.title")) {
    <script src="@routes.Assets.at("javascripts/nine-square.register-new.js")" ></script>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            @helper.form(action=routes.Users.updateUser, 'class -> "edit-user", 'method -> "post") {
                    @userForm.globalError.map { error =>
                        <div class="alert alert-danger">
                            <span class="error">@error.message</span>
                        </div>
                    }
                <fieldset>
                    @helper.inputText(userForm("name"), '_showConstraints -> false, 'class -> "form-control", 'placeholder -> Messages("form.name"))
                    @helper.inputText(userForm("email"), '_showConstraints -> false, 'class -> "form-control", 'placeholder -> Messages("form.email"))
                    @helper.inputPassword(userForm("password"), '_showConstraints -> false, 'class -> "form-control", 'placeholder -> Messages("form.password"))
                    @helper.inputPassword(userForm("verifyPassword"), '_showConstraints -> false, 'class -> "form-control", 'placeholder -> Messages("form.verify-password"))
                </fieldset>
                <button class="register-me-btn btn btn-primary btn-primary btn-block" type="submit">@Messages("btn.register-me")</button>
            }
        </div>
    </div>
}
