@main(Messages("application.title")) {
    <script src="@routes.Assets.at("javascripts/nine-square.game.js")" ></script>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="nine-square-panel">
                <div class="game-board"></div>
                <ul class="control-board nav nav-justified">
                    <li><a href="#" class="check-puzzle-btn" title="Check the puzzle for mistakes">Check</a></li>
                    <li><a href="#" class="submit-puzzle-btn" title="Submit the puzzle">Submit</a></li>
                    <li><a href="#" class="clear-puzzle-btn" title="Clear the puzzle">Clear</a></li>
                    <li><a href="#" class="new-puzzle-btn" title="Create a new puzzle">New</a></li>
                    <li><a href="#" class="solve-puzzle-btn" title="Solve the puzzle">Solve</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="set-level-dialog" title="Choose a level">
        <button class="easy-level-btn btn btn-block btn-default">Easy</button>
        <button class="hard-level-btn btn btn-block btn-default">Hard</button>
    </div>
    <div id="numpad-dialog" title="Pick a number">
        <button class="one-btn btn btn-default">1</button>
        <button class="two-btn btn btn-default">2</button>
        <button class="three-btn btn btn-default">3</button>
        <button class="four-btn btn btn-default">4</button>
        <button class="five-btn btn btn-default">5</button>
        <button class="six-btn btn btn-default">6</button>
        <button class="seven-btn btn btn-default">7</button>
        <button class="eight-btn btn btn-default">8</button>
        <button class="nine-btn btn btn-default">9</button>
        <button class="clear-btn btn btn-default">C</button>
        <button class="empty-btn btn btn-default">&nbsp;</button>
        <button class="close-btn btn btn-default">X</button>
    </div>
}