@main("9 Square") {
    <script src="@routes.Assets.at("javascripts/nine-square.js")" ></script>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="welcome-panel">
                <a href="https://github.com/sshark/Nine-Square" target="_blank">
                    <img src="@routes.Assets.at("images/nine-square.png")" class="img-circle"/>
                </a>
                <form class="form-signin" role="form" action="/">
                    <h3 class="form-signin-heading">Please sign in</h3>
                    <input type="text" id="usernameText" class="form-control" placeholder="Email address" />
                    <input type="password" class="form-control" placeholder="Password" />
                    @*
                    <label class="checkbox">
                    <input type="checkbox" value="remember-me" /> Remember me
                    </label>
                    *@
                    <button class="btn btn-primary btn-block" type="submit">Sign in</button>
                    @*<a class="close-signin-btn btn btn-default btn-block" >Close</a>*@
                    <a class="form-play-single-game-btn btn btn-default btn-block">Play a single game</a>
                </form>
                <div class="btn-panel">
                    <button class="open-form-btn btn btn-primary btn-block">Sign in to my account</button>
                    <button class="play-single-game-btn btn btn-default btn-block">Play a single game</button>
                </div>
            </div>
            <div class="nine-square-panel">
                <div class="game-board"></div>
                <ul class="control-board nav nav-justified">
                    <li><a href="#" class="check-puzzle-btn" title="Check the puzzle for mistakes">Check</a></li>
                    <li><a href="#" class="submit-puzzle-btn" title="Submit the puzzle">Submit</a></li>
                    <li><a href="#" class="clear-puzzle-btn" title="Clear the puzzle">Clear</a></li>
                    <li><a href="#" class="new-puzzle-btn" title="Create a new puzzle">New</a></li>
                    <li><a href="#" class="solve-puzzle-btn" title="Solve the puzzle">Solve</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div id="set-level-dialog" title="Choose a level">
        <button class="easy-level-btn btn btn-block btn-default">Easy</button>
        <button class="hard-level-btn btn btn-block btn-default">Hard</button>
    </div>
    <div id="numpad-dialog" title="Pick a number">
        <button class="one-btn btn btn-default">1</button>
        <button class="two-btn btn btn-default">2</button>
        <button class="three-btn btn btn-default">3</button>
        <button class="four-btn btn btn-default">4</button>
        <button class="five-btn btn btn-default">5</button>
        <button class="six-btn btn btn-default">6</button>
        <button class="seven-btn btn btn-default">7</button>
        <button class="eight-btn btn btn-default">8</button>
        <button class="nine-btn btn btn-default">9</button>
        <button class="clear-btn btn btn-default">C</button>
        <button class="empty-btn btn btn-default">&nbsp;</button>
        <button class="close-btn btn btn-default">X</button>
    </div>
    <div id="register-new-user-dialog" title="New user">
        <form class="form-register" role="form" action="/register">
            <input type="text" class="emailText form-control" placeholder="Email address" />
            <input type="password" class="passwordText form-control" placeholder="Password" />
            <input type="password" class="reenter-passwordText form-control" placeholder="Re-enter Password" />
            <input type="text" class="nameText form-control" placeholder="Name" />
            <button class="register-me-btn btn btn-primary btn-primary" type="submit">Register me</button>
            <a class="cancel-btn btn btn-default" >Cancel</a>
        </form>
    </div>
}
